body {
		background: #ede5af ;
		color: #000;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}

 .lux { 
    width: 600px;
    border: 1px solid #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #ede5af;
   }
   .lux th {
    background: #a52a2a;
    color: white; 
   }
   .lux td, .lux th { 
    border-bottom: 1px solid black;
    border: 1px solid maroon;
    text-align: center;

   }
   .lux td, .lux th {
    padding: 4px;
   }

.lux tr:nth-child(odd){
  background: #edbcaf;
}
 
.lux tr:nth-child(even){
  background: #b3af9f;
}
